rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && request.auth.token.email in ['aiiurosita1808@gmail.com'];
    }

    match /teachers/{teacherId} {
      allow read, write: if isAdmin();
    }
    match /salary_slips/{slipId} {
      allow get: if true;
      allow list, write: if isAdmin();
    }
    match /school_settings/{settingId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
